# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TYPESPLIT_LEFT
    def_bool $(shields_list_contains,typesplit_left)

config SHIELD_TYPESPLIT_RIGHT
    def_bool $(shields_list_contains,typesplit_right)
